<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <script type="text/ng-template" id="pages/home.html">
      
      <div ng-hide="details" ng-controller="items">
        <h1>Home</h1><br/>
        Item 1&emsp; Price: <input type="number"  ng-model="price1" ng-init="price1='100'" value=100 readonly>&emsp; Quantity: <input type='number' ng-model='qty1' ng-init="qty1='0'" min="0" value="0"/><br/>
        Item 2&emsp; Price: <input type="number"  ng-model="price2" ng-init="price2='200'" value=200 readonly>&emsp; Quantity: <input type='number' ng-model='qty2' ng-init="qty2='0'" min="0" value="0"/><br/>
        Item 3&emsp; Price: <input type="number"  ng-model="price3" ng-init="price3='300'" value=300 readonly>&emsp; Quantity: <input type='number' ng-model='qty3' ng-init="qty3='0'" min="0" value="0"/><br/>
        Item 4&emsp; Price: <input type="number"  ng-model="price4" ng-init="price4='400'" value=400 readonly>&emsp; Quantity: <input type='number' ng-model='qty4' ng-init="qty4='0'" min="0" value="0"/><br/>
        <br/>&emsp;&emsp;<button name="calculate" ng-click="go('/total')" >calculate</button><br/>
        

      </div>
    </script>
    <script type="text/ng-template" id="pages/total.html">
      <h2>Total is {{message}}</h2>
      <h3>THANK YOU</h3>
      
    </script>

    <div ng-view></div>

    
  </body>
</html>

